{{ define "head" }}
<link rel="stylesheet" href="/static/css/recommendation.css">
{{ end }}

{{ define "content" }}
<div class="middle-bar">
    <div class="middle-top-divider"></div>
    <div class="middle-bar-text">네 개의 질문만 답해주세요.<br>와인콕이 딱 맞는 와인 찾아드릴게요</div>
</div>

<div class="outer-container">
    <div class="recommendation-row">
        {{ range .wines }}
        <a class="wine-card" href={{ .Id | printf "/detail?id=%v" }}>
            <img src={{ .Image }} class="recommendation-image">
            <div class="recommendation-name">{{ .WineName }}</div>
            <div class="recommendation-price">{{ .ConvertedPrice }}</div>
        </a>
        {{ end }}
    </div>
    <!-- <a href="/" class="ok-btn show">Back</a> -->
</div>
<script src="/static/js/wineCard.js"></script>
{{ end }}