{{ define "head" }}
<link rel="stylesheet" href="/static/css/recommendation.css">
{{ end }}

{{ define "content" }}
<div class="top-bar">
    <a href="/" class="top-bar-back-btn"></a>
    <div class="middle-title">와인콕</div>
    <div class="top-bar-right-btn">
        <div class="feedback-btn"></div>
        <div class="feedback-text">피드백</div>
    </div>
</div>
<div class="middle-bar">
    <div class="middle-top-divider"></div>
    <div class="middle-bar-text">네 개의 질문만 답해주세요.<br>와인콕이 딱 맞는 와인 찾아드릴게요</div>
</div>

<div class="outer-container">
    <div class="recommendation-row">
        {{ range .wines }}
        <a class="wine-card" href={{ .Key | printf "/detail?id=%v" }}>
            <img class="recommendation-image" src={{ .Image | printf "%v" }}>
            <div class="recommendation-name">{{ .WineName }}</div>
            <div class="recommendation-price">{{ .ConvertedPrice }}</div>
        </a>
        {{ end }}
        {{ if .wineNotFound }}
        <a class="wine-card" href="/">
            <div class="recommendation-image no-wine"></div>
            <div class="recommendation-name">해당되는 와인이 없습니다.</div>
        </a>
        {{ end }}
    </div>
    <!-- <a href="/" class="ok-btn show">Back</a> -->
</div>
{{ end }}